asgiref==3.12.1
Django==5.2.16
django-cors-headers==4.9.0
django-requestlogs==0.8.3
django-session-timeout==0.1.0
djangorestframework==3.17.1
python-dotenv==1.2.2
setuptools==83.0.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
